<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Views Basics</title>
<link rel="icon" href="https://ict.gctaa.net/resources/GCTAAfavicon.png">
<style>
body {
    margin: 4vw;
}
main {
    padding: 4vw;
    border: 1px dotted #777;
}
h1, footer {
    text-align: center;
}
footer {
    margin-top: 1vw;
}
a, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #C92; 
}
main {
  display: grid;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: auto;
}
</style>
</head>
<body>
<h1>Views Basics</h1>

<main>
<ul>
  <li><a href="funktionally">Simple functional view named funktionally</a></li>
  <li><a href="danger?thing=WatchOut">An unsafe view named danger</a></li>
  <li><a href="danger?thing=%3Cscript%3Ealert%28%27Evil%20code%20has%20taken%20your%20computer!%27%29%3B%3C%2Fscript%3EI'm done now ;-)">Evil
  JavaScript hijacks your computer</a></li>
  <li><a href="safer?thing=%3Cscript%3Ealert%28%27Evil%20code%20has%20taken%20your%20computer!%27%29%3B%3C%2Fscript%3E">Tame
  that JavaScript by escaping it</a></li>
  <li><a href="prettyurldata/42">Pretty URL Data</a></li>
  <li><a href="bounce">Bounce! Where will it take me?</a></li>
  <li><a href="bmiCalculator">What's your BMI? Put your height and weight in like this at the end of the url: /h/w</a></li>
  <li><a href="circleArea">Find the area of the circle. Change the value at the end of the url</a></li>
</ul>
</main>

<footer>
<a href="/">Return to DJ4E Projects</a>
</footer>

</body>
