<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Django Template  Language</title>
<link rel="icon" href="https://ict.gctaa.net/resources/GCTAAfavicon.png">
<style>
body {
    margin: 4vw;
}
main {
    padding: 4vw;
    border: 1px dotted #777;
}
h1, footer {
    text-align: center;
}
footer {
    margin-top: 1vw;
}
a, a:visited {
    text-decoration: none;
    font-weight: bold;
    color: #C92; 
}
main {
  display: grid;
  grid-template-columns: 48vw 48vw;
  grid-template-rows: auto;
}
</style>
</head>
<body>
<h1>Django Template Language</h1>

<main>
<ul>
  <li><a href="bottles">Bottles</a></li>
</ul>
</main>

<footer>
<a href="/">Return to DJ4E Projects</a>
</footer>

</body>
